# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
selenium
requests
beautifulsoup4
tqdm
pandas
fastapi
uvicorn[standard]
pymongo
wordcloud
jieba
plotly
scipy
ckiptagger